.container {
  background-image: url("../../assets/images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 100vh;
  padding: 0 22.5rem 9.5rem 22.5rem;
  position: relative;
  width: 100%;

  &::after {
    content: url('../../assets/images/background-detail.png');
    z-index: -4;

    position: absolute;
    top: 0;
    right: 0;
  }

  @media screen and (min-width: 1440px) {
    & {
      padding: 0 5rem 5rem 5rem;
    }
  }
}