@use "../../styles/variaveis" as variaveis;

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 0.75rem;

  .menu {
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;

      li {
        a {
          color: variaveis.$cor-texto;
          line-height: 1.21875rem;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}